.menu {
  list-style: none;
  color: white;
  &Item {
    width: 2rem;
    height: 1.5rem;
    margin: 8px 0;
    font-size: 0.7rem;
    border-radius: 0 15px 15px 0;
    transform: translateX(-2.75rem);
    transition-duration: 0.125s;
    &:hover {
      width: 4rem;
      transition-duration: 0.125s;
    }
    &-1 {
      &:hover::after {
        transition-duration: 0.125s;
        transform: translateX(25%);
        opacity: 1;
      }
      &::after {
        content: "HOME";
        transition-duration: 0.125s;
        transform: translateX(-120%);
        opacity: 0;
      }
    }
    &-2 {
      &:hover::after {
        transition-duration: 0.125s;
        transform: translateX(35%);
        opacity: 1;
      }
      &::after {
        content: "3SP";
        transition-duration: 0.125s;
        transform: translateX(-120%);
        opacity: 0;
      }
    }
    &-3 {
      &:hover::after {
        transition-duration: 0.125s;
        transform: translateX(35%);
        opacity: 1;
      }
      &::after {
        content: "88";
        transition-duration: 0.125s;
        transform: translateX(-120%);
        opacity: 0;
      }
    }
    &-4 {
      &:hover::after {
        transition-duration: 0.125s;
        transform: translateX(25%);
        opacity: 1;
      }
      &::after {
        content: "FICHA";
        transition-duration: 0.125s;
        transform: translateX(-120%);
        opacity: 0;
      }
    }
  }
}
